<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
<br />
<div style="text-align: center">
    <h1 style="font-size: 2em"> ShadowKiller </h1>
</label>
</div>
<div style="padding: 0% 5%"class="btn-group" role="group">
    <a class="btn btn-default" href="main.html">Main</a>
    <a class="btn btn-default" href="jobs.html">Jobs</a>
    <a class="btn btn-default" href="workers.html">Workers</a>
</div>
<div class="inner contact">
                <div class="contact-form">
                    <form id="contact-us" method="post" action="#">
                        <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
                            <input type="text" name="name" id="name" required="required" class="form" placeholder="Project name" />
                            <input type="email" name="mail" id="mail" required="required" class="form" placeholder="Email" />
                            <div class="checkbox">
                                <label style="font-size: 2em">
                                    <input type="checkbox" value="" required>
                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                     I pinky swear that I have the right to possess and remove encryption of these passwords.
                                </label>
                            </div>            
                        </div>
                        <div class="col-xs-6 wow animated slideInRight" data-wow-delay=".5s">
                            <textarea name="message" id="message" class="form textarea"  placeholder="Shadow lines"></textarea>
                        </div>
                        <div class="relative fullwidth col-xs-12">
                            <button type="submit" id="submit" name="submit" class="form-btn semibold">Decrypt!</button> 
                        </div>
                        <div class="clear"></div>
                    </form>

                    <div class="mail-message-area">
                        <div class="alert gray-bg mail-message not-visible-message">
                            <strong>Thank You !</strong> We will email you when its done.
                        </div>
                    </div>
                </div>
</div>
</body>
</html>
