<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
<br />
<div style="text-align: center">
    <h1 style="font-size: 2em"> ShadowKiller </h1>
</label>
</div>
<div style="padding: 0% 5%"class="btn-group" role="group">
    <a class="btn btn-default" href="main.html">Main</a>
    <a class="btn btn-default" href="jobs.html">Jobs</a>
    <a class="btn btn-default" href="workers.html">Workers</a>
</div>
            <div class='workers'>
                <div style="text-align: center;">
                    <h1 style="font-size: 5em"> Avaliable workers </h1>
                </div>

                <table class="table">
                  <thead class="thead-inverse">
                    <tr>
                      <th>#</th>
                      <th>Worker ID</th>
                      <th>Nickname</th>
                      <th>Host</th>
                      <th>Cluster type</th>
                      <th>Last update</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% set i = 1 %}
                    {% for worker in workers %}
                    <tr>
                        <th scope="row">{{ i }}</th>
                      <td>{{worker[0]}}</td>
                      <td>{{worker[1]}}</td>
                      <td>{{worker[2]}}</td>
                      <td>{{worker[3]}}</td>
                      <td>{{str(worker[4])}}</td>
                    </tr>
                    {% set i += 1 %}
                    {% end %}
                  </tbody>
                </table>
            </div>
            
</body>
</html>
